@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
* {
    font-family: "Tagesschrift", system-ui;
    margin: 0;
    padding :0;
    text-decoration: none;  
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all.2s linear;
}
html{
    font-size: 62.5%;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background: #aaa8a8;
   
}

html::-webkit-scrollbar-track{
     background:rgb(180, 179, 178);;
     border-radius: 10px;
}
html::-webkit-scrollbar{
   width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: rgb(124, 123, 122);
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover{
    background: #1d1c1c;
   
}

section{
    padding: 3rem 9%;
}
span{
    color:#85117b
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: #6d6666;
    font-size: 1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
}

.heading{
    text-align: center;
    color: #178d44;
    margin-bottom: 3rem;
    font-size: 4rem;
}
@keyframes fadeIn{
    0%{
        opacity:0;
        transform: translatey(-4rem) scale(0.4);
    }
    100%{
        opacity:1;
        transform: translatey(0) scale(1);
    }
}
.header{
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    background:rgb(180, 179, 178);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1.5rem 9%;
}
.header .logo {
    font-size: 2.5rem;
    color:#070707;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.header .logo i{
    color:#0f0f0f
}
.header .navbar a {
    color: #0f0f0f;
    margin: 3rem;
    font-size: 1.5rem;
   text-decoration: none;
   color:#000000;
   transition: all 0.3s ease;
   border-radius: 5px;
}
.header .navbar a:hover  {
    color: #50b48e;
    background-color:#f7f7f7 ;
    box-shadow: 0 4px 10px rgb(0,0,0,0.2);

 
}
.header .icons div,
.header .icons a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius:  .5rem;
   
    font-size:1.7rem ;
    color :#222;
    margin-left:  .3rem;
    text-align: center;
    cursor:pointer;
}
.header .icons a:hover,
.header .icons div:hover{
    
    color: #118558;
}
.header #menu-btn{
    display:none;
}
/*media queries*/
@media(max-width: 991px){
    html{font-size: 55%
    }
    .header{
        padding:1.5rem 2rem
        
    }
    section{
        padding: 3rem 2rem;
    }
}
@media(max-width:768px){
    .header #menu-btn{
        display:inline-block;
    }
    .header .navbar{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: #d7e9d6;
        border-top:0.2rem solid #222;
        border-bottom:0.2rem solid #222;
        padding: 0.2rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        font-size:2rem;
        margin:3rem 1rem;

    }
    .contact-container{
        flex-direction: column;
    }
    .contact-container form{
       border-radius: 1rem 1rem 0 0;
    }
    .contact-image img {
        border-radius: 0 0 1rem 1rem;
    }

}
@media(max-width:450px){
    html{
        font-size:50%;  

     }

} 
.home{
    position: relative;
    padding: 0;
  
}
.home .slide{
    padding: 13rem 2rem ;
    display: flex;
    min-height: 0.05vh;
    background-image: url(home1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
 
    image-rendering: crisp-edges;
    image-rendering:auto
  
}
.home .slid .content{
    margin: 60;
    text-align: left;
}   
.home .slide .content span{
    color:#fff;
    display:block;
    font-size: 5rem;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    animation:fadeIn .2s linear backwards ;

}
.home .slide .content h2{ 
    color: #4e4a4a;
}

.home .slide .content .btn{
    animation:fadeIn .2s linear backwards .6s ;
    color: #ffffff;
} 
.category {
    padding: 40px 0;
    text-align: center;
    background-color:#f2f2f2 ;

  }

  
  .box-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    width: 200px;
    background-color: #eee;
  
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .box h3 {
    margin: 10px 0;
    font-size: 18px;
  }
.about{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color:  #f2f2f2;

    
  }
.about .img{
    flex: 1 1 42rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
   
    
}
  
.about .img img{
    width: 100%;
    box-shadow: 4rem 4rem 0 #d6cdcd;
    border-radius: 20px ;
  }
    
.about .content{
    flex: 1 1 42rem;
    
}
.about .content .box{
    padding: 3rem;
    width: 100%;
    background:#e4dcdc;
   
}
.about .content .box h3{
    font-size: 2.5rem;
    color: #222;
}
.about .content .box p{
    padding:1rem 0;
    line-height: 2;
    color:#666;
    font-size:1.4rem;
}
.about .content .box .btn{
    color: #000000;
}

 

.message {
        padding: 3rem 2rem;
        background: #f7f5f2;
    }
    
.message .contact-container {
        display: flex;
        flex-wrap: wrap;
        align-items:stretch;
        justify-content: center;
        gap: 0;
        max-width: 1200px;
        margin: auto;
    }
    .contact-container form, .contact-image{
        flex: 1 1 20%;
    }
    
    .message   .contact-container form {
        background-color: #e2d5d5;
        padding: 2rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: none;
    }
    
    .message .contact-container form h3 {
        font-size: 3rem;
        color: #0f0f0f;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }
    
    .message .contact-container form h3 span {
        color: #0e6934;
    }
    
    .message .contact-container .box {
        width: 100%;
        padding: 1.2rem;
        margin: 1rem 0;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #f3eded;
        color: #0f0f0f;
        box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.1);
    }
    
    .message .contact-container .box:focus {
        border: 2px solid #a1ecc0;
        outline: none;
    }
    
    .message .contact-container textarea {
        resize: none;
        height: 120px;
    }
    
    .message .contact-container .btn {
        display: block;
        width: 100%;
        padding: 1rem;
        background-color: #4c4d25;
        color: #fff;
        border: none;
        border-radius: 2rem;
        font-size: 1.6rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .message   .contact-container .btn:hover {
        background-color: #0c5229;
    }
    
    .message .contact-image {
        display: flex;
        align-items: stretch;
    }
    
    .message .contact-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:  0 1rem 1rem 0; 
    }
  
    
 
.footer {
    background-color: rgb(180, 179, 178);
    color: #fff; 
    padding: 2rem 0; 
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-section {
    flex: 1;
    padding: 0 1rem;
}

.footer-section h3 {
    font-size: 2.2rem; 
    color: #161616; 
    padding: 1rem 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
}

.footer-section ul li a:hover {
    padding: 0.5rem;
    color: #67a374;
}

.footer-credit {
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    border-top: 0.2rem solid #222;
    color: #111010;
}


.footer-credit pre {
    margin: 0;
}
.footer-credit pre a{
    color:#1c5833;
    font-size: 2.3rem;
}
.footer-credit pre a:hover{
    padding: 0.5rem;
    color: #5d8a6e;

}


.footer-section a i {
    margin-right: 0.5rem;
    color: #000; 
}

.footer-section a:hover i {
    padding: 0.5rem;
    color: #67a374; 
}
footer {
    position: relative;
    padding: 2rem;
    background-color: #f7f5f2;
}

.naturel {
    padding: 2rem;
    background-color: #f2f2f2;
    }
    
.heading {
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #0f0f0f;
    }
    
.heading span {
    color: #0e6934;
    }
    
 .text-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    }
    
.article-text {
     flex: 1;
     font-size: 3rem;
     color: #333;
     line-height: 1.6;
     margin-right: 4rem;
    }

.img {
    width: 230px;
    height: auto;
    border-radius: 10rem;
    flex-shrink: 0;
    }
    
.cosmetics {
        padding: 40px 0;
        text-align: center;
        background-color:  #f2f2f2;
    
      }
.cosmetics .box-container{
        display: flex;
        flex-wrap: warp;
        gap: 13rem;
        justify-content: center;
        padding: 2rem 1rem;
    
    }
 .cosmetics .box-container .box{
        width:250px;
        text-align: center;
        background:#eee;
        border:1px solid #0d0e0d;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgb(0, 0, 0,0.1);
        transition: transform 0.3s;
    }
    .cosmetics .box-container .box:hover{
        transform: scale(1.05);
    }
    .box img {
        width: 100%;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        border-bottom: 1px solid#eee ;
    
      }
      
      
      .box .content {
        padding: 1rem;
      }
      
      .box .content h3 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem ;
      }
      
      .box .price span {
        color: #000000;
        font-weight: bold;
        font-size: 1.8rem;
      }
      
      .box .btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 0.8rem 1.5rem;
        background: rgb(223, 215, 204);;
        color: #0f0f0f;
        font-size: 1.4rem;
        border-radius: 2rem;
        text-decoration: none;
        transition:0.3s;
      }
      
      .box .btn:hover {
        background: #ddbfb8;
      }
























